/*your custom CSS here*/


body {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  width: 100%;
}


.box {
  padding: 15px 25px;
}


.heading {
  position: fixed;
  width: 100%;
  top: 10;
  left: 0;
  padding: 10px 10px 0 10px;
}
